{% extends 'base.html' %}
{% load mathfilters %}
{% load static %}

{% block dashboard %}
<style>
  .parent {
    position: relative;
    width: auto;
    height: 24px;
    background-color: whitesmoke;
    margin: 15px 2rem;
    border-radius: 7px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: rgba(74, 212, 231, 0.161);
    justify-content: center;
    align-items: center;
    border-radius: 0 5px 5px 0;
  }

  .progress_text {
    position: absolute;
    color: #000000e7;
    font-size: 14px;
    margin: 0;
  }

  @media (min-width: 991px) {
    .remarks-container {
        width: 20%;
        max-width: 20%;
    }
}
</style>

<div class="p-1 p-sm-2 p-xl-4">
  <div class="g-4 w-100 m-0 m-sm-2 d-flex">
      <div class="m-0 p-0 w-sm-25">

        <div class="card" style="width: fit-content;">
            <ul class="list-group" style="width: fit-content;">
                <li class="list-group-item bg-dark text-white border-dark">Batches</li>
                {% if request.user.is_superuser %}
                  {% for b in batches %}
                  <a href="{% url 'batch_report' b.id %}" class="text-decoration-none" style="font-size: 12px;">
                      <li class="list-group-item {% if b.id == batch.id %} list-group-item-primary {% endif %} ">
                          {{b}}
                      </li>
                  </a>
                  {% endfor %}
                {% elif request.user.student %}
                  {% for b in request.user.student.batches.all %}
                  <a href="{% url 'batch_report' b.id %}" class="text-decoration-none" style="font-size: 12px;">
                      <li class="list-group-item {% if b.id == batch.id %} list-group-item-primary {% endif %} ">
                          {{b}}
                      </li>
                  </a>
                  {% endfor %}
                {% elif request.user.teacher %}
                  {% for b in request.user.teacher.batches.all %}
                  <a href="{% url 'batch_report' b.id %}" class="text-decoration-none" style="font-size: 12px;">
                      <li class="list-group-item {% if b.id == batch.id %} list-group-item-primary {% endif %} ">
                          {{b}}
                      </li>
                  </a>
                  {% endfor %}
                {% endif %}
            </ul>
        </div>

      </div>

      <div class="m-2 p-2 ps-2" style="width: 85%;">
            {% if batch %}
            <div class="container-md my-4">
                <div class="">
                    <p class="h4 fw-normal">Remarks Progress</p>
                </div>
                <div class="container my-4 p-0 w-100 d-lg-flex justify-content-around overflow-x-auto">
                    <canvas id="remarkProgress" class="w-100 h-auto" style="min-width: 700px;" ></canvas>
                    
                    <div class="m-sm-2 p-sm-2 absolute w-100 w-sm-25 remarks-container">
                        <ul class="list-group">
                            <li class="list-group-item bg-dark text-white border-dark">Batch Remarks</li>
                            {% for remark, count in remarks_count.items %}
                            <li class="list-group-item d-flex justify-content-between {% if b.id == batch.id %} list-group-item-primary {% endif %} ">
                                <span class="">{{remark.name}}</span> <span class="fw-normal" >{{count}}%</span> 
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>

            {% for test in tests %}
            <div class="">
                <div class="">
                  <p class="h4 fw-normal">{{test.test.name}}</p>
                </div>

                <div class="container-md my-4 w-100 d-md-flex justify-content-around">
                  <div  class="g-3 relative" style="overflow-x: auto;">
                      <canvas id="test_chart_{{forloop.counter}}" class="w-100 h-auto" style="min-width: 700px;" ></canvas>
                    <div class="parent ">
                      <div class="child bg-warning" style="width: {{test.attempted}}%;"  ></div>
                      <p class="progress_text">{{test.attempted}}% Students Attempted</p>
                    </div>
                  </div>

                  <div class="m-sm-2 p-sm-2 absolute w-100 w-sm-25 remarks-container">
                    <ul class="list-group">
                      <li class="list-group-item bg-dark text-white border-dark">Mock Remarks - Avg: {{test.avg|floatformat:2}}%</li>
                      {% for remark, count in test.remarks.items %}
                      <li class="list-group-item d-flex justify-content-between {% if b.id == batch.id %} list-group-item-primary {% endif %} ">
                        <span class="">{{remark.name}}</span> <span class="fw-normal" >{{count}} %</span> 
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
            </div>
            {% endfor %}




            {% endif %}
        </div>
    </div>
</div>

{% if batch %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('remarkProgress');
  
    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: {{remarks_list|safe}},
        datasets: [{
          label: 'Remarks Progress',
          data: {{count_list|safe}},
          borderWidth: 1
        }]
      },
      options: {
            responsive: false, // To ensure responsiveness (set to true)
            maintainAspectRatio: true, // Adjusts based on container size, if needed
            plugins: {
                legend: {
                    position: 'top',
                    labels: {
                        font: {
                            size: 12
                        }
                    }
                },
                tooltip: {
                    enabled: true
                }
            },
            scales: {
                x: {
                    stacked: true, // Enable stacking on the X-axis
                    ticks: {
                        autoSkip: false,
                        maxRotation: 0, // Rotation of the tick labels on Y-axis
                        minRotation: 0,
                        font: {
                            size: 10
                        }
                    },
                },
                y: {
                    stacked: true, // Enable stacking on the Y-axis
                    beginAtZero: true,
                    ticks: {
                        font: {
                            size: 10
                        }
                    }
                }
            }
        }
    });
</script>


<script>
  {% for report in tests %}
  const ctx{{ forloop.counter }} = document.getElementById('test_chart_{{ forloop.counter }}').getContext('2d');
  new Chart(ctx{{ forloop.counter }}, {
      type: 'line',
      data: {
          labels: {{ report.students|safe }}, // Use the student names
          datasets: [{
              label: 'Marks out of {{ report.max_marks }}',
              data: {{ report.marks|safe }}, // Use the marks
              borderColor: 'rgba(54, 162, 235, 1)',
              backgroundColor: 'rgba(54, 162, 235, 0.2)',
              borderWidth: 2,
              tension: 0.4
          }]
      },
      options: {
          responsive: false, // To ensure responsiveness (set to true)
          maintainAspectRatio: true, // Adjusts based on container size, if needed
          responsive: false,
          scales: {
              y: {
                  beginAtZero: true,
                  ticks: {
                      stepSize: 0
                  },
                  suggestedMax: {{ report.max_marks }} + 1,
              },
              x: {
                ticks: {
                  maxRotation: 90,
                  minRotation: 90,
                }
              }
          }


      }
  });
  {% endfor %}
</script>






{% endif %}

{% endblock dashboard %}