{% extends 'base.html' %}
{% load mathfilters %}
{% load center_filters %}
{% load static %}

{% block dashboard %}
<style>
  .parent {
    position: relative;
    width: auto;
    height: 24px;
    background-color: whitesmoke;
    margin: 15px 2rem;
    border-radius: 7px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: rgba(74, 212, 231, 0.161);
    justify-content: center;
    align-items: center;
    border-radius: 0 5px 5px 0;
  }

  .progress_text {
    position: absolute;
    color: #000000e7;
    font-size: 14px;
    margin: 0;
  }

  @media (min-width: 991px) {
    .remarks-container {
        width: 25%;
        max-width: 25%;
    }
}


</style>

<div class="container p-1 p-sm-2 p-xl-4">
    <div class=" d-flex g-4 w-100 m-0 m-sm-2 flex-column d-md-flex-row">
        <div class="m-0 p-0 w-100 w-sm-25">
            <div class="card" style="width: fit-content;">
                <ul class="list-group" style="min-width: fit-content;">
                    <li class="list-group-item bg-dark text-white border-dark">Batches</li>
                    {% if request.user.is_superuser %}
                    {% for b in batches %}
                    <a href="{% url 'chapter_batch_report' b.id %}" class="text-decoration-none">
                        <li class="list-group-item {% if b.id == batch.id %} list-group-item-primary {% endif %} ">
                            {{b}}
                        </li>
                    </a>
                    {% endfor %}
                    {% elif request.user.student %}
                    {% for b in request.user.student.batches.all %}
                    <a href="{% url 'chapter_personal_batch_report' b.id %}" class="text-decoration-none">
                        <li class="list-group-item {% if b.id == batch.id %} list-group-item-primary {% endif %} ">
                            {{b}}
                        </li>
                    </a>
                    {% endfor %}
                    {% elif request.user.teacher %}
                    {% for b in request.user.teacher.batches.all %}
                    <a href="{% url 'chapter_batch_report' b.id %}" class="text-decoration-none">
                        <li class="list-group-item {% if b.id == batch.id %} list-group-item-primary {% endif %} ">
                            {{b}}
                        </li>
                    </a>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="m-0 p-0 w-100">
            {% if batch %}
            <div class="">
                <p class="h4 fw-normal">Personal Progress</p>
            </div>
            <div class="container my-4 p-0 w-100 d-lg-flex justify-content-around">
                <div  class="g-3 relative flex-1 w-100" style="overflow-x: auto;">
                    <canvas id="remarkProgress" class="w-100 h-auto" style="min-width: 700px;" ></canvas>
                    <canvas id="marksProgress" class="w-100 h-auto" style="min-width: 700px;" ></canvas>
                </div>
                <div class="m-sm-2 p-sm-2 absolute w-100 w-sm-25 remarks-container">
                    <ul class="list-group">
                        <li class="list-group-item bg-dark text-white border-dark">Batch Remarks</li>
                        {% for remark, count in remarks_count.items %}
                        <li class="list-group-item d-flex justify-content-between">
                            <span class="">{{remark.name}}</span> <span class="fw-normal" >{{count}} %</span> 
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            {% for test in tests %}
            <div class="container-md my-4 w-100">
                <div class="mt-4">
                  <p class="h4 fw-normal">{{test.test.name}}</p>
                </div>

                <div  class="container my-4 p-0 w-100 d-lg-flex justify-content-around">
                  <div class="w-100 h-auto" style="overflow-x: auto;">
                    <canvas id="test_chart_1{{forloop.counter}}" class="w-100 h-auto" style="min-width: 700px;" ></canvas>
                    <canvas id="test_chart_2{{forloop.counter}}" class="w-100 h-auto" style="min-width: 700px;" ></canvas>
                    <!-- <div class="parent ">
                      <div class="child bg-warning" style="width: {{test.attempted}}%;"  ></div>
                      <p class="progress_text">{{test.attempted}}% Students Attempted</p>
                    </div> -->
                  </div>
                  <div class="m-sm-2 p-sm-2 remarks-container">
                    <ul class="list-group">
                      <li class="list-group-item bg-dark text-white border-dark">Mock Remarks -  {{test.marks.percentage|floatformat:2}}% <br> ({{test.marks.obtained_marks|floatformat:1}}/{{test.marks.max_marks|floatformat:1}})</li>
                      {% for remark, count in test.remarks.items %}
                      <li class="list-group-item d-flex justify-content-between">
                        <span class="">{{remark.name}}</span> <span class="fw-normal" >{{count}}%</span> 
                      </li>
                      {% endfor %}
                    </ul>
                  </div>

                </div>
            </div>
            {% endfor %}




            {% endif %}
        </div>
    </div>
</div>

{% if batch %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('remarkProgress');
    const ctx_line = document.getElementById('marksProgress');
  
    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: [{% for ch_no, ch_name in chapters.items %} '{{ch_name}} {{ch_no}}', {% endfor %}].map(label => label.split(' ')),
        datasets: [
            {% for remark, counts in chapter_wise_remarks.items %}
            {
                label: '{{remark}}',
                data: {{counts}},
                borderWidth: 1
            },
            {% endfor %}
        ]
      },
      options: {
            responsive: false, // To ensure responsiveness (set to true)
            maintainAspectRatio: true, // Adjusts based on container size, if needed
            plugins: {
                legend: {
                    position: 'top',
                    labels: {
                        font: {
                            size: 12
                        }
                    }
                },
                tooltip: {
                    enabled: true
                }
            },
            scales: {
                x: {
                    stacked: true, // Enable stacking on the X-axis
                    ticks: {
                        autoSkip: false,
                        maxRotation: 0, // Rotation of the tick labels on Y-axis
                        minRotation: 0,
                        font: {
                            size: 10
                        }
                    },
                },
                y: {
                    stacked: true, // Enable stacking on the Y-axis
                    beginAtZero: true,
                    ticks: {
                        stepSize: 2, // Set custom step size
                        font: {
                            size: 10
                        }
                    }
                }
            }
        }

    });

    new Chart(ctx_line, {
      type: 'line',
      data: {
        labels: [{% for test in all_tests %} '{{test.name}}', {% endfor %}].map(label => label.split(' ')),
        datasets: [
            {
                // label: [{% for result in marks_progress %}  {% endfor %}],
                data: [
                    {% for test in all_tests %} 
                        {% if marks_progress|get_item:test == '-' or marks_progress|get_item:test == 0 %}
                            null,
                        {% else %}
                            {{ marks_progress|get_item:test }}, 
                        {% endif %}
                    {% endfor %}
                ],

                label: 'Mocks Progress',
                borderColor: '#4aaa70',
                backgroundColor: '#4aaa70',
                borderWidth: 2,
                tension: 0.4,
                spanGaps: true,
            },
        
        ]
      },
      options: {
            responsive: false, // To ensure responsiveness (set to true)
            maintainAspectRatio: true, // Adjusts based on container size, if needed
            plugins: {
                legend: {
                    position: 'top',
                    labels: {
                        font: {
                            size: 12
                        }
                    }
                },
                tooltip: {
                    enabled: true
                }
            },
            scales: {
                x: {
                    stacked: true, // Enable stacking on the X-axis
                    ticks: {
                        autoSkip: false,
                        maxRotation: 0, // Rotation of the tick labels on Y-axis
                        minRotation: 0,
                        font: {
                            size: 10
                        }
                    },
                },
                y: {
                    stacked: true, // Enable stacking on the Y-axis
                    beginAtZero: true,
                    ticks: {
                        font: {
                            size: 10
                        }
                    },
                    max: 100,
                }
            }
        }

    });
</script>


<script>
  {% for report in tests %}
  const ctx1{{ forloop.counter }} = document.getElementById('test_chart_1{{ forloop.counter }}').getContext('2d');
  new Chart(ctx1{{forloop.counter}}, {
      type: 'bar',
      data: {
        labels: [{% for ch_no, ch_name in chapters.items %} '{{ch_name}} {{ch_no}}', {% endfor %}].map(label => label.split(' ')),
        datasets: [
            {% for remark, counts in report.chapter_wise_test_remarks.items %}
            {
                label: '{{remark}}',
                data: {{counts}},
                borderWidth: 1
            },
            {% endfor %}
        
        ]
      },
      options: {
                responsive: false,
                plugins: {
                    legend: {
                        position: 'top',
                        labels: {
                            font: {
                                size: 12
                            }
                        }
                    },
                    tooltip: {
                        enabled: true
                    }
                },
                scales: {
                    responsive: false,
                    maintainAspectRatio: true,
                    x: {
                        stacked: true, // Enable stacking on the X-axis
                        ticks: {
                            autoSkip: false,
                            maxRotation: 0,
                            minRotation: 0,
                            font: {
                                size: 10
                            }
                        },
                    },
                    y: {
                        stacked: true, // Enable stacking on the Y-axis
                        beginAtZero: true,
                        ticks: {
                            font: {
                                size: 10
                            }
                        },
                    }
                }
            }
    });

  const ctx2{{ forloop.counter }} = document.getElementById('test_chart_2{{ forloop.counter }}').getContext('2d');
  new Chart(ctx2{{ forloop.counter }}, {
      type: 'bar',
      data: {
          labels: [{% for ch_no, ch_name in chapters.items %} '{{ch_name}} {{ch_no}}', {% endfor %}].map(label => label.split(' ')),
          datasets: [
            {
              label: 'Chapter Marks Obtained',
              data: {{ report.marks_obtained|safe }}, // Use the marks
              borderColor: '#4aaa70',
              backgroundColor: '#4aaa70',
              borderWidth: 2,
              tension: 0.4,
            },
            {
              label: 'Deducted Marks',
              data: {{ report.marks_total|safe }}, // Use the marks
              borderColor: '#FF5B61',
              backgroundColor: '#FF5B61',
              borderWidth: 2,
              tension: 0.4
            },
        ]
      },
      options: {
          responsive: false,
          maintainAspectRatio: true,
          scales: {
              x: {
                stacked: true,
                beginAtZero: true,
                ticks: {
                    autoSkip: false,
                    maxRotation: 0,
                    minRotation: 0,
                    font: {
                        size: 10
                    }
                },
            },
            y: {
                stacked: true,
                beginAtZero: true,
                ticks: {
                    font: {
                        size: 10
                    }
                },
                suggestedMax: {{ report.max_marks }} + 1,
            }

          }
      }
  });
  {% endfor %}
</script>






{% endif %}

{% endblock dashboard %}