{% extends 'base.html' %}
{% load mathfilters %}
{% load center_filters %}
{% load static %}

{% block dashboard %}
<style>
  .parent {
    position: relative;
    width: auto;
    height: 24px;
    background-color: whitesmoke;
    margin: 15px 2rem;
    border-radius: 7px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: rgba(74, 212, 231, 0.161);
    justify-content: center;
    align-items: center;
    border-radius: 0 5px 5px 0;
  }

  .progress_text {
    position: absolute;
    color: #000000e7;
    font-size: 14px;
    margin: 0;
  }

  
.arrow {
  transition: transform 0.5s ease;
}

.arrow.rotated {
  transform: rotate(90deg);
}

@media (min-width: 991px) {
    .remarks-container {
        width: 20%;
        max-width: 20%;
    }
}
</style>

<div class="p-1 p-sm-2 p-xl-4">
    <div class="g-4 w-100 m-0 m-sm-2 d-sm-flex ">
        <div class="m-0 p-0 w-sm-25">

            <div class="" style="width: fit-content;">
                <ul class="list-group">
                    {% if batch %}
                        <a href="{% url 'chapter_student_batch_report' batch.id %}" class="text-decoration-none">
                            <li class="list-group-item bg-light " >
                                {{batch}}
                            </li>
                        </a>
                    {% endif %}
                    <li class="list-group-item bg-dark text-white border-dark d-flex justify-content-between align-items-center"> 
                        <p class="m-0">Batches</p> 
                        <svg onclick="" id="arrow" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill m-0 h3 arrow rotated" role="button" viewBox="0 0 16 16">
                            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                        </svg>
                    </li>
                    <div class="" id="batches" >
                        {% if request.user.is_superuser %}
                            {% for b in batches %}
                            <a href="{% url 'chapter_student_batch_report' b.id %}" class="text-decoration-none" style="font-size: 12px;">
                                <li class="list-group-item {% if b.id == batch.id %} list-group-item-primary {% endif %} ">
                                    {{b}}
                                </li>
                            </a>
                            {% endfor %}
                        {% elif request.user.teacher %}
                            {% for b in request.user.teacher.batches.all %}
                            <a href="{% url 'chapter_student_batch_report' b.id %}" class="text-decoration-none" style="font-size: 12px;">
                                <li class="list-group-item {% if b.id == batch.id %} list-group-item-primary {% endif %} ">
                                    {{b}}
                                </li>
                            </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </ul>
                <ul class="list-group mt-4">
                    <li class="list-group-item bg-dark text-white border-dark d-flex justify-content-between align-items-center">
                        <p class="m-0">Students</p>
                        <svg onclick="" id="students-arrow" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill m-0 h3 arrow rotated" role="button" viewBox="0 0 16 16">
                            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                        </svg>
                    </li>
                    <div id="students" class="">
                        {% for stu, prct in students_list.items %}
                        <a href="{% url 'chapter_student_batch_report_progress' batch.id stu.id %}" class="text-decoration-none">
                            <li class="list-group-item d-flex justify-content-between {% if stu.id == student.id %} list-group-item-primary {% endif %}" style="font-size: 12px;">
                                <span class="">{{stu.user.first_name}} {{stu.user.last_name}}</span> 
                                {% if prct == 0 %}
                                <span class="fw-normal btn bg-danger-subtle px-2 py-1" style="font-size: 12px;" >Absent</span> 
                                {% else %}
                                <span class="fw-normal" > {{prct}}%</span> 
                                {% endif %}
                            </li>
                        </a>
    
                        {% endfor %}
                    </div>

                </ul>
            </div>


        </div>

        <div class="m-2 p-2 ps-4" style="width: 85%;">
            {% if batch %}
            <div class="">
                <p class="h4 fw-normal">Remarks Progress</p>
            </div>
            <div class="container-md my-4 w-100 d-flex justify-content-around">
                <div  class="g-3 relative" style="overflow-x: auto;">
                    <canvas id="remarkProgress" class="w-100 h-auto" style="min-width: 700px;" ></canvas>
                    <canvas id="marksProgress" class="w-100 h-auto" style="min-width: 700px;" ></canvas>
                </div>
                <div class="m-sm-2 p-sm-2 absolute w-100 w-sm-25 remarks-container">
                    <ul class="list-group">
                        <li class="list-group-item bg-dark text-white border-dark">Remarks</li>
                        {% for remark, count in remarks_count.items %}
                        <li class="list-group-item d-flex justify-content-between" style="font-size: 14px;" style="font-size: 12px;">
                            <span class="">{{remark.name}}</span> <span class="fw-normal" >{{count}}%</span> 
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            {% for test in tests %}
            <div class="container-md my-4 w-100">
                <div class="mt-4">
                  <p class="h4 fw-normal">{{test.test.name}}</p>
                </div>

                <div  class="g-3 d-flex justify-content-around">
                  <div class="w-75 h-auto">
                    <canvas id="test_chart_1{{forloop.counter}}" class="w-100 h-auto" style="min-width: 700px;" ></canvas>
                    <canvas id="test_chart_2{{forloop.counter}}" class="w-100 h-auto" style="min-width: 700px;" ></canvas>
                    <!-- <div class="parent ">
                      <div class="child bg-warning" style="width: {{test.attempted}}%;"  ></div>
                      <p class="progress_text">{{test.attempted}}% Students Attempted</p>
                    </div> -->
                  </div>
                  <div class="m-sm-2 p-sm-2 absolute w-100 w-sm-25 remarks-container">
                    <ul class="list-group">
                      <li class="list-group-item bg-dark text-white border-dark" style="font-size: 14px;">Remarks - {{test.marks.percentage|floatformat:2}}% <br> ( {{test.marks.obtained_marks|floatformat:1}}/{{test.marks.max_marks|floatformat:1}} )</li>
                      {% for remark, count in test.remarks.items %}
                      <li class="list-group-item d-flex justify-content-between" style="font-size: 12px;">
                        <span class="">{{remark.name}}</span> <span class="fw-normal" >{{count}} %</span> 
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
            </div>
            {% endfor %}




            {% endif %}
        </div>
    </div>
</div>

<script>

    const arrow = document.getElementById('arrow');
    const batches = document.getElementById('batches');
    
    const stu_arrow = document.getElementById('students-arrow');
    const students = document.getElementById('students');
    
    {% if batch %}
        batches.style.display = 'none';
        arrow.classList.toggle('rotated');
    {% endif %}


    // students.style.display = 'none';
    // stu_arrow.classList.toggle('rotated');


    // stu_arrow.addEventListener('click', ()=>{
    //     if (students.style.display === 'none') {
    //         students.style.display = 'block';
    //         stu_arrow.classList.toggle('rotated');  
    //     } else {
    //         students.style.display = 'none';
    //         stu_arrow.classList.toggle('rotated');
    //     }
    // })

    arrow.addEventListener('click', ()=>{
        if (batches.style.display === 'none') {
            batches.style.display = 'block';
            arrow.classList.toggle('rotated');  
        } else {
            batches.style.display = 'none';
            arrow.classList.toggle('rotated');
        }
    })
</script>

<script>
    document.documentElement.style.scrollBehavior = 'auto'
    document.addEventListener("DOMContentLoaded", function () {
        const scrollPosition = sessionStorage.getItem("chapterStudentPersonalReport");
        if (scrollPosition) {
            window.scrollTo(0, parseInt(scrollPosition, 10) );
            sessionStorage.removeItem("chapterStudentPersonalReport");
        }
        window.addEventListener("beforeunload", function () {
            sessionStorage.setItem("chapterStudentPersonalReport", window.scrollY);
        });
    });
    setTimeout(() => {
        document.documentElement.style.scrollBehavior = 'smooth';
    }, 1000);
</script>

{% if batch %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
    const ctx = document.getElementById('remarkProgress');
    const ctx_line = document.getElementById('marksProgress');

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: [{% for ch_no, ch_name in chapters.items %} '{{ch_name}} {{ch_no}}', {% endfor %}].map(label => label.split(' ')),
        datasets: [
            {% for remark, counts in chapter_wise_remarks.items %}
            {
                label: '{{remark}}',
                data: {{counts}},
                borderWidth: 1
            },
            {% endfor %}
        
        ]
      },
      options: {
            responsive: false, // To ensure responsiveness (set to true)
            maintainAspectRatio: true, // Adjusts based on container size, if needed
            plugins: {
                legend: {
                    position: 'top',
                    labels: {
                        font: {
                            size: 12
                        }
                    }
                },
                tooltip: {
                    enabled: true
                }
            },
            scales: {
                x: {
                    stacked: true, // Enable stacking on the X-axis
                    ticks: {
                        autoSkip: false,
                        maxRotation: 0, // Rotation of the tick labels on Y-axis
                        minRotation: 0,
                        font: {
                            size: 10
                        }
                    },
                },
                y: {
                    stacked: true, // Enable stacking on the Y-axis
                    beginAtZero: true,
                    ticks: {
                        stepSize: 2, // Set custom step size
                        font: {
                            size: 10
                        }
                    }
                }
            }
        }
    });

    new Chart(ctx_line, {
      type: 'line',
      data: {
        labels: [{% for test in all_tests %} '{{test.name}}', {% endfor %}].map(label => label.split(' ')),
        datasets: [
            {
                // label: [{% for result in marks_progress %}  {% endfor %}],
                data: [
                    {% for test in all_tests %} 
                        {% if marks_progress|get_item:test == '-' or marks_progress|get_item:test == 0 %}
                            null,
                        {% else %}
                            {{ marks_progress|get_item:test }}, 
                        {% endif %}
                    {% endfor %}
                ],

                label: 'Mocks Progress',
                borderColor: '#4aaa70',
                backgroundColor: '#4aaa70',
                borderWidth: 2,
                tension: 0.4,
                spanGaps: true,
            },
        
        ]
      },
      options: {
            responsive: false, // To ensure responsiveness (set to true)
            maintainAspectRatio: true, // Adjusts based on container size, if needed
            plugins: {
                legend: {
                    position: 'top',
                    labels: {
                        font: {
                            size: 12
                        }
                    }
                },
                tooltip: {
                    enabled: true
                }
            },
            scales: {
                x: {
                    stacked: true, // Enable stacking on the X-axis
                    ticks: {
                        autoSkip: false,
                        maxRotation: 0, // Rotation of the tick labels on Y-axis
                        minRotation: 0,
                        font: {
                            size: 10
                        }
                    },
                },
                y: {
                    stacked: true, // Enable stacking on the Y-axis
                    beginAtZero: true,
                    ticks: {
                        font: {
                            size: 10
                        }
                    },
                    max: 100,
                    
                }
            }
        }

    });


</script>


<script>
  {% for report in tests %}
  const ctx1{{ forloop.counter }} = document.getElementById('test_chart_1{{ forloop.counter }}').getContext('2d');
  new Chart(ctx1{{forloop.counter}}, {
      type: 'bar',
      data: {
        labels: [{% for ch_no, ch_name in chapters.items %} '{{ch_name}} {{ch_no}}', {% endfor %}].map(label => label.split(' ')),
        datasets: [
            {% for remark, counts in report.chapter_wise_test_remarks.items %}
            {
                label: '{{remark}}',
                data: {{counts}},
                borderWidth: 1
            },
            {% endfor %}
        
        ]
      },
      options: {
                responsive: false,
                plugins: {
                    legend: {
                        position: 'top',
                        labels: {
                            font: {
                                size: 12
                            }
                        }
                    },
                    tooltip: {
                        enabled: true
                    }
                },
                scales: {
                    responsive: false,
                    maintainAspectRatio: true,
                    x: {
                        stacked: true, // Enable stacking on the X-axis
                        ticks: {
                            autoSkip: false,
                            maxRotation: 0,
                            minRotation: 0,
                            font: {
                                size: 10
                            }
                        },
                    },
                    y: {
                        stacked: true, // Enable stacking on the Y-axis
                        beginAtZero: true,
                        ticks: {
                            font: {
                                size: 10
                            }
                        },
                    }
                }
            }
    });

  const ctx2{{ forloop.counter }} = document.getElementById('test_chart_2{{ forloop.counter }}').getContext('2d');
  new Chart(ctx2{{ forloop.counter }}, {
      type: 'bar',
      data: {
          labels: [{% for ch_no, ch_name in chapters.items %} '{{ch_name}} {{ch_no}}', {% endfor %}].map(label => label.split(' ')), 
          datasets: [
            {
              label: 'Chatper Max Marks',
              data: {{ report.marks_total|safe }}, // Use the marks
              borderColor: '#f2c222',
              backgroundColor: '#f2c222',
              borderWidth: 2,
              tension: 0.4
            },
            {
              label: 'Chapter Marks Obtained',
              data: {{ report.marks_obtained|safe }}, // Use the marks
              borderColor: '#4aaa70',
              backgroundColor: '#4aaa70',
              borderWidth: 2,
              tension: 0.4
            }
        ]
      },
      options: {
          responsive: false,
          maintainAspectRatio: true,
          scales: {
              x: {
                beginAtZero: true,
                ticks: {
                    autoSkip: false,
                    maxRotation: 0,
                    minRotation: 0,
                    font: {
                        size: 10
                    }
                },
            },
            y: {
                beginAtZero: true,
                ticks: {
                    font: {
                        size: 10
                    }
                },
                suggestedMax: {{ report.max_marks }} + 1,
            }

          }
      }
  });
  {% endfor %}
</script>

{% endif %}

{% endblock dashboard %}