{% extends 'base.html' %}
{% load mathfilters %}
{% load center_filters %}
{% load static %}

{% block dashboard %}
<style>
  .parent {
    position: relative;
    width: auto;
    height: 24px;
    background-color: whitesmoke;
    margin: 15px 2rem;
    border-radius: 7px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: rgba(74, 212, 231, 0.161);
    justify-content: center;
    align-items: center;
    border-radius: 0 5px 5px 0;
  }

  .progress_text {
    position: absolute;
    color: #000000e7;
    font-size: 14px;
    margin: 0;
  }
  canvas {

  }
</style>

<div class="mx-5 px-5">
    <div class="w-75 m-2 p-2 mb-4">
        <p class="h2 fw-normal">Compare Progress</p>

    </div>

    <div class="d-flex g-4 w-100">
        <div class="m-x2 px-2" style="width: 15%">

            <div class="card">
                <ul class="list-group">
                    <li class="list-group-item bg-dark text-white border-dark">Batches</li>
                        {% if request.user.is_superuser %}
                        {% for b in batches %}
                        <a href="{% url 'compare_batch_progress' b.id %}" class="text-decoration-none" style="font-size: 12px;">
                            <li class="list-group-item ">
                                {{b}}
                            </li>
                        </a>
                        {% endfor %}
                        {% endif %}
                </ul>
            </div>

        </div>

        <div class="m-2 p-2 ps-4" style="width: 85%;">
            {% if batch %}
            <div class="">
                <p class="h4 fw-normal ">{{batch.class_name|title}}th {{batch.subject|title}} ({{batch.section}})</p>
            </div>


            <div class="container-md my-2 mx-0 p-0 w-100">
                <form class="d-flex gap-3 mb-4" method="POST">
                    {% csrf_token %}
                    <select class="form-select" style="width: fit-content;" name="test1" required>
                        {% for test in test_options %}
                        <option value="{{test.id}}" {% if test.id == test1_id %} selected {% endif %}  >{{test.name}}</option>
                        {% endfor %}
                    </select>
                    <select class="form-select" style="width: fit-content;" name="test2" required >
                        {% for test in test_options %}
                        <option value="{{test.id}}" {% if test.id == test2_id %} selected {% endif %}   >{{test.name}}</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-warning">Create Comparison</button>
                </form>

                <div  class="g-3 d-flex justify-content-between">
                    <div class="h-auto d-flex flex-1">
                        {% if students_list %}
                        <ul class="list-group me-3" style="min-width: fit-content;">
                            <li class="list-group-item bg-dark text-white border-dark">Students</li>
                            {% if request.user.is_superuser %}
                            {% for stu in students_list %}
                                
                                <li class="list-group-item d-flex justify-content-between " style="font-size: 14px;">
                                    <span class="">{{stu.student.stu.user.first_name}} {{stu.student.stu.user.last_name}}</span> 
                                    {% if stu.student.percentage == 0 %}
                                    <span class="fw-normal btn bg-danger-subtle px-2 py-0" style="font-size: 12px;" >Absent</span> 
                                    {% else %}
                                    <span class="fw-normal" > {{stu.student.percentage}}%</span> 
                                    {% endif %}
                                </li>
                            
                            {% endfor %}
                            {% endif %}
                        </ul>
                        {% endif %}
                        <div class="w-100 d-flex gap-3" style="overflow-x: scroll;">
                            {% for test in tests %}
                            <ul class="list-group" style="min-width: fit-content;">
                                <li class="list-group-item bg-dark text-white border-dark">{{test.name}}</li>
                                {% for data in students_list %}
                                    <!-- <li class="list-group-item text-decoration-none" style="font-size: 14px;">
                                        {% if data|get_item:test and data.student.percentage %} {{data.student.stu.user.first_name}} {{data.student.stu.user.first_name}} {% endif %}  {{data|get_item:test}}
                                    </li> -->

                                    <li class="list-group-item d-flex justify-content-center " style="font-size: 14px;">
                                        {% if data|get_item:test == 0 %}
                                            {{data|get_item:test}}
                                        {% elif data|get_item:test == -1 %}
                                        <span class="fw-normal" style="opacity: 0;" >T</span> 
                                        <span class="fw-normal btn bg-danger-subtle px-2 py-0" style="font-size: 12px;" >Absent</span> 
                                        <span class="fw-normal" style="opacity: 0;" >T</span> 
                                        {% else %}
                                        <span class="fw-normal" >{{data|get_item:test}}%</span> 
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>

                            {% endfor %}

                        </div>
<!-- 
                        <ul class="list-group ms-3" style="min-width: fit-content;">
                            <li class="list-group-item bg-dark text-white border-dark">Summary </li>
                            {% if request.user.is_superuser %}
                            {% for b in students %}
                                <li class="list-group-item text-decoration-none" style="font-size: 14px;">
                                    80%
                                </li>
                            {% endfor %}
                            {% endif %}
                        </ul> -->
                    </div>

                </div>
            </div>

            {% endif %}
        </div>
    </div>
</div>

{% if batch %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


{% endif %}

{% endblock dashboard %}