{% extends 'base.html' %}
{% load static %}
{% block dashboard %}
<div class="container-fluid p-0 p-sm-2 p-xl-4">
  <div class="row m-0 m-sm-2 row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">

    {% if request.user.is_authenticated %}
      {% if request.user.is_superuser and request.user.stationary_partner or  request.user.stationary_partner %}
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Partner Inquiries</h3>
              <p class="card-text">Leads generated throught partner QR will be listed here.</p>
              <a href="{% url 'partner_inquiry' request.user.stationary_partner.id %}" class="btn btn-warning">Partner Inquiries</a>
            </div>
          </div>
        </div>
      {% endif %}

      {% if request.user.is_superuser %}
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title">New Student Registration</h3>
            <p class="card-text">New Register Students and assign different batches and their details.</p>
            <a href="{% url 'student_registration' %}" class="btn btn-warning">Start Registration</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title">Create Test</h3>
            <p class="card-text">Create Test Template for different batches of the class</p>
            <a href="{% url 'test_templates' %}" class="btn btn-primary">Test Templates</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title">Add Result</h3>
            <p class="card-text">Add Test Result for different tests of the class</p>
            <a href="{% url 'result_templates' %}" class="btn btn-danger">Add Result</a>
          </div>
        </div>
      </div>

      {% endif %}

      {% if request.user.mentor_profile or request.user.is_superuser %}
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title">Mentor Report</h3>
            <p class="card-text">Create and Review Students Reports</p>
            <a href="{% url 'mentor_students' %}" class="btn bg-danger-subtle">Mentor Report</a>
          </div>
        </div>
      </div> 
      {% endif %}

      {% if request.user.teachers or request.user.is_superuser %}
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title">Homework & Attendance</h3>
            <p class="card-text">Mark Homework & attendance for your assigned batches and monitor student participation.</p>
            <a href="{% url 'attendance' %}" class="btn btn-success">Hoemwork & Attendance</a>
          </div>
        </div>
      </div>
      {% endif %}

      {% if request.user.registered_student %}
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title">Personal Report</h3>
            <p class="card-text">Combined batch chapterwise report and Mockwise report</p>
            <a href="{% url 'student_personal_report' request.user.registered_student.stu_id %}" class="btn btn-warning">Personal Report</a>
          </div>
        </div>
      </div>
      {% endif %}
    {% endif %}
  </div>
</div>
{% endblock dashboard %}
