{% extends 'base.html' %}
{% load static %}
{% block dashboard %}
<div class="container-fluid p-0 p-sm-2 p-xl-4">
  <div class="row m-0 m-sm-2 row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">

    {% if request.user.is_authenticated %}
      {% if request.user.is_superuser and request.user.stationary_partner or  request.user.stationary_partner %}
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Partner Inquiries</h3>
              <p class="card-text">Leads generated throught partner QR will be listed here.</p>
              <a href="{% url 'partner_inquiry' request.user.stationary_partner.id %}" class="btn btn-warning">Partner Inquiries</a>
            </div>
          </div>
        </div>
      {% endif %}

      {% if request.user.is_superuser %}
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title">New Student Registration</h3>
            <p class="card-text">New Register Students and assign different batches and their details.</p>
            <a href="{% url 'student_registration' %}" class="btn btn-warning">Start Registration</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title">Teachers Report</h3>
            <p class="card-text">Teachers Report and different batches and their performances.</p>
            <a href="{% url 'teachers_list' %}" class="btn btn-success">Teachers Report</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title">Create Test</h3>
            <p class="card-text">Create Test Template for different batches of the class</p>
            <a href="{% url 'test_templates' %}" class="btn btn-primary">Test Templates</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title">Add Result</h3>
            <p class="card-text">Add Test Result for different tests of the class</p>
            <a href="{% url 'result_templates' %}" class="btn btn-danger">Add Result</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title">Action Suggested</h3>
            <p class="card-text">Action suggested to by Parents to students</p>
            <a href="{% url 'suggested_actions' %}" class="btn btn-warning">Action Suggested</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title">Absent Students</h3>
            <p class="card-text">Get List of Students who are regularly absent.</p>
            <a href="{% url 'regular_absent_students' %}" class="btn btn-danger">Absent Students</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title">Lesson Plan</h3>
            <p class="card-text">Managed Batch Chapters and Lesson Sequence</p>
            <a href="{% url 'lesson_plan' %}" class="btn btn-warning">Lesson Plan</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title">Lecture Date</h3>
            <p class="card-text">Add lecture dates for future classes.</p>
            <a href="{% url 'add_bulk_lecture_dates' %}" class="btn btn-danger">Lecture Date</a>
          </div>
        </div>
      </div>
      {% endif %}

      {% if request.user.mentor_profile or request.user.is_superuser %}
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title">Mentor Report</h3>
            <p class="card-text">Create and Review Students Reports</p>
            <a href="{% url 'mentor_students' %}" class="btn bg-danger-subtle">Mentor Report</a>
          </div>
        </div>
      </div> 
      {% endif %}

      {% if request.user.teachers or request.user.is_superuser %}
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title"> Attendance</h3>
            <p class="card-text">Mark attendance for your assigned batches and monitor student participation.</p>
            <a href="{% url 'attendance' %}" class="btn btn-warning">Attendance</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title">Homework</h3>
            <p class="card-text">Mark Homework for your assigned batches and monitor student participation.</p>
            <a href="{% url 'homework' %}" class="btn btn-success">Homework</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title">Lecture Plan</h3>
            <p class="card-text">Status of Lessons and Lectures completed in attendance.</p>
            <a href="{% url 'lecture_plan' %}" class="btn btn-warning">Lecture Plan</a>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title">Compare Student</h3>
            <p class="card-text">Compare Student Progress in Homework, Test and Attendance</p>
            <a href="{% url 'compare_performance' %}" class="btn btn-primary">Compare Students</a>
          </div>
        </div>
      </div>

      {% endif %}

      {% if request.user.registered_student %}
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title">Personal Report</h3>
            <p class="card-text">Combined batch chapterwise report and Mockwise report</p>
            <a href="{% url 'student_personal_report' request.user.registered_student.stu_id %}" class="btn btn-warning">Personal Report</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title">Lecture Plan</h3>
            <p class="card-text">Status of Lessons and Lectures completed in attendance.</p>
            <a href="{% url 'lecture_plan' %}" class="btn btn-warning">Lecture Plan</a>
          </div>
        </div>
      </div>
      {% endif %}
    {% endif %}
  </div>
</div>
{% endblock dashboard %}
