{% extends 'base.html' %}
{% load static %}

{% block dashboard %}
<div class="container-sm p-4 bg-success-subtle">
  <div class="container-sm mt-4 p-0">
    <p class="h3 fw-normal"> Update Teacher </p>
  </div>

  <form class="row g-3" method="post" >
    {% csrf_token %}
    <div class="col-md-4">
      <label for="first_name" class="form-label">First name*</label>
      <input {% if form.first_name.value %} value="{{form.first_name.value}}" {% endif %}  type="text" class="form-control" name="first_name" id="first_name" required>
    </div>
    <div class="col-md-4">
      <label for="last_name" class="form-label">Last name</label>
      <input {% if form.last_name.value %} value="{{form.last_name.value}}" {% endif %} type="text" class="form-control" name="last_name" id="last_name">
    </div>
    <div class="col-md-3">
      <label for="phone" class="form-label">Phone*</label>
      <input type="text" {% if form.phone.value %} value="{{form.phone.value}}" {% endif %} minlength="10" maxlength="10" class="form-control {% if form.errors.phone %} btn-outline-danger {% endif %} " name="phone" id="phone" required>
      {% if form.errors.phone %}
        <div class="text-danger">
            {{ form.errors.phone|join:", " }}
        </div>
      {% endif %}
    </div>
    <div class="col-md-4">
      <label for="batches" class="form-label">Batches*</label>
      <select class="form-select" name="batches" id="batches" multiple size="{{ batches.count }}" required>
        {% for batch in batches %}
        <option value="{{ batch.id }}" 
                {% if batch.id in form.batches.value %}selected{% endif %}>
          {{ batch }}
        </option>
        {% endfor %}
      </select>
    </div>
    <div class="col-12">
      <button class="btn btn-warning" type="submit">Update Teacher</button>
      <a class="btn btn-primary ms-2" href="{% url 'staff_teacher_registration' %}">Cancel</a>
    </div>
  </form>
</div>
</div>



<div class="container p-4 bg-success-subtle">
  <div class="row shuffle" data-masonry='{"percentPosition": true }'>

    {% for batch in batches %}
    <div class="col-sm-6 col-md-4 col-lg-3 category shuffle-item shuffle-item--visible mb-4">
      <div class="card">
        <ul class="list-group">
          <li class="list-group-item bg-dark text-white border-dark">{{batch}}</li>
          {% for teacher in batch.teacher.all %}
          <a class="text-decoration-none text-dark list-group-item" href="{% url 'staff_teacher_update' teacher.id %}">
            <li class="list-style-none list-group"> 
            {{forloop.counter}}. {{teacher.user.first_name}} {{teacher.user.last_name}}
          </li>
        </a>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
  integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
  async>
</script>

{% endblock dashboard %}