.content {
    display: flex;
    width: 100%;
    padding-top: 16px;
    align-items: end;
    justify-content: space-between;
}

.option-label {
    font-size: 16px;
    color: #4D4E50;
    margin-bottom: .5rem;
}

.wrapper {
    width: 800px;
    margin: 0 .5rem;
  }
  
.custom-select {
    display: block;
    width: fit-content;
    height: 40px;
    min-width: 10rem;
    font-size: 13px;
    line-height: 1.1;
    padding: 5px 20px;
    color: #4D4E50;
    border: 1.5px solid #E8E9EC;
    border-radius: 3px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140"><polyline points="10,50 70,110 130,50" style="fill:none;stroke:%238B8C8F;stroke-width:15;stroke-linecap:round"/></svg>') no-repeat right 15px center;
    background-size: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    margin: 0px;
    box-sizing: border-box;
    display: block;
  }
  
  .submit-btn {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 3px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
  }


  .custom-select:focus {
      outline: none;
      border-color: #007bff;
  }

  @media (max-width: 768px) {
    .wrapper {
        width: 100%;
        margin: .7rem 0;
    }
    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .custom-select {
        width: 100%;
    }
  }

