{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>
    html {
      scroll-behavior: auto !important;
    }

    .draggable {
        padding: 1rem;
        /* border: 1px solid black; */
        cursor: move;
        user-select: none;
    }

    .draggable.dragging {
        opacity: .8;
        border: 2px dashed #3863f4;
    }

</style>
{% endblock style %}

{% block dashboard %}
<div class="content-container m-2 m container mx-auto">
    <h2 class="heading m-2">Lecture Plan</h2>
    {% if classes and not cls %}
    <div class="row g-2">
        {% if request.user.teachers %}
            {% for c in request.user.teachers.get_classes %}
            <div class="col-6 col-md-3 flex justify-content-center align-items-center">
                <a href="{% url 'lecture_plan_class' c.id %}" class="nav-link">
                    <div class="cls bg-warning p-4 rounded min-h-100 min-w-100">{{c.name}}</div>
                </a>
            </div>
            {% endfor %}
        {% else %}    
            {% for c in classes %}
            <div class="col-6 col-md-3 flex justify-content-center align-items-center">
                <a href="{% url 'lecture_plan_class' c.id %}" class="nav-link">
                    <div class="cls bg-warning p-4 rounded min-h-100 min-w-100">{{c.name}}</div>
                </a>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    {% endif %}

    {% if cls and not batch %}
    <div class="row g-2">
        <div class="col-6 col-md-3 flex justify-content-center align-items-center">
            <a href="{% url 'lecture_plan' %}" class="nav-link">
                <div class="cls bg-warning p-4 rounded min-h-100 min-w-100">{{cls.name}}</div>
            </a>
        </div>
    </div>
    {% endif %}

    {% if batches and cls and not batch %}
    <h2 class="heading m-2">Select Batch</h2>
    <div class="row g-2">
        {% if request.user.teachers %}
            {% for b in request.user.teachers.batches.all %}
                {% if b.class_name == cls %}
                <div class="col-6 col-md-3 flex justify-content-center align-items-center">
                    <a href="{% url 'lecture_plan_batch' cls.id b.id %}" class="nav-link">
                        <div class="cls bg-warning p-4 rounded min-h-100 min-w-100">{{b.section.name}} {{b.subject.name}}</div>
                    </a>
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for b in batches %}
                <div class="col-6 col-md-3 flex justify-content-center align-items-center">
                    <a href="{% url 'lecture_plan_batch' cls.id b.id %}" class="nav-link">
                        <div class="cls bg-warning p-4 rounded min-h-100 min-w-100">{{b.section.name}} {{b.subject.name}}</div>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    {% endif %}

    {% if cls and batch %}
    <div class="row g-2">
        <div class="col-6 col-md-3 flex justify-content-center align-items-center">
            <a href="{% url 'lecture_plan' %}" class="nav-link">
                <div class="cls bg-warning p-4 rounded min-h-100 min-w-100">{{cls.name}}</div>
            </a>
        </div>
        <div class="col-6 col-md-3 flex justify-content-center align-items-center">
            <a href="{% url 'lecture_plan_class' cls.id %}" class="nav-link">
                <div class="cls bg-warning p-4 rounded min-h-100 min-w-100">{{batch.section.name}} {{batch.subject.name}}</div>
            </a>
        </div>
    </div>
    {% endif %}


    {% if cls and batch %}
    <div class="mt-3 px-md-4" id="lessonPlanContainer">
        <ul class="list-group ">
            {% for sq, lectures in data.items %}
            <li class="list-group-item p-3 gap-3 d-flex flex-column">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <p class="m-0 me-2">{{forloop.counter}}. </p>
                        <p class="m-0"> Ch-{{sq.chapter_no}}. {{sq.chapter_name}}</p>
                    </div>
                </div>
                {% if lectures %}
                <div class="d-flex justify-content-between align-items-center">
                    <ul class="list-group w-100">
                        {% for lecture in lectures %}
                        <li class="list-group-item rounded-2 d-flex justify-content-between
                            {% if lecture.status == 'pending' %}
                                bg-danger-subtle
                            {% elif lecture.status == 'completed' %}
                                bg-success-subtle
                            {% elif lecture.is_behind_latest %}
                                bg-light
                            {% elif lecture.is_next_lecture %}
                                bg-warning
                            {% endif %}
                            ">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <p class="m-0">
                                    {{lecture.lesson.sequence}}. {{lecture.lesson.topic}} 
                                    {% if lecture.lecture %}
                                        ({{lecture.lecture.status}})
                                    {% endif %}
                                </p>
                                <p class="m-0 me-2">{{lecture.lecture.date|date:'Y-m-d'}}</p>
                            </div>
                            {% if request.user.is_superuser %}
                            <div class="d-flex gap-2">
                                {% if request.user and request.user.is_superuser and not lecture.lecture %}
                                <form action="{% url 'add_lecture' cls.id batch.id lecture.lesson.id %}" class="d-flex gap-2" method="post">
                                    {% csrf_token %}
                                    <input type="date" class="form-control" name="date" id="date-{{lecture.lecture.id}}" value="{{today|date:'Y-m-d'}}">
                                    <button class="d-flex justify-content-center align-items-center py-2 px-2 btn bg-success btn-outline-light fw-semibold text-decoration-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
                                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                            <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                                        </svg>
                                    </button>
                                </form>
                                {% endif %}
                                {% if request.user and request.user.is_superuser and lecture.lecture %}
                                <a data-batch_id="{{batch.id}}" data-cls_id="{{cls.id}}" data-lecture_id="{{lecture.lecture.id}}" class="delete-link d-flex justify-content-center align-items-center py-2 px-2 btn bg-danger btn-outline-light fw-semibold text-decoration-none">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"></path>
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"></path>
                                    </svg>
                                </a>
                                {% endif %}
                            </div>
                            {% endif %}
                        </li>
                        <div class="d-flex flex-column gap-1 ps-3 py-2">
                            {% for lec in lecture.lectures %}
                            <li class="list-group-item d-flex justify-content-between
                                {% if lec.status == 'pending' %}
                                    bg-danger-subtle
                                {% elif lec.status == 'completed' %}
                                    bg-success-subtle
                                {% endif %}
                                rounded-2
                                ">
                                <div class="d-flex justify-content-between align-items-center w-100">
                                    <p class="m-0 ms-3">
                                        {{lec.lesson.topic}} ({{lec.status}})
                                    </p>
                                    <p class="m-0 me-2">{{lec.date|date:'Y-m-d'}}</p>
                                </div>
                            </li>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

            </li>
            {% endfor %}
        </ul>
    </div>
    

    {% endif %}

    {% if cls and batch %}

    {% endif %}
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
      const deleteLinks = document.querySelectorAll(".delete-link");
      const modal = document.getElementById("deleteConfirmationModal");
      const confirmButton = document.getElementById("confirmDeleteButton");
      const cancelButton = document.getElementById("cancelButton");
  
      let deleteUrl = "";
  
      deleteLinks.forEach(link => {
        link.addEventListener("click", function (event) {
          event.preventDefault();
          document.getElementsByTagName('html')[0].style.overflow = 'hidden';
          document.getElementsByTagName('body')[0].style.overflow = 'hidden';
          deleteUrl = `/lesson/delete-lecture/${this.dataset.cls_id}/${this.dataset.batch_id}/${this.dataset.lecture_id}`; // Construct the delete URL

          const scrollPosition = window.scrollY || document.documentElement.scrollTop;
          modal.style.top = `${scrollPosition}px`;
          modal.classList.remove('d-none');
        });
      });
  
      confirmButton.addEventListener("click", function () {
        if (deleteUrl) {
          window.location.href = deleteUrl; // Redirect to the delete URL
        }
      });
  
      cancelButton.addEventListener("click", function () {
        modal.classList.add("d-none");
        document.getElementsByTagName('html')[0].style.overflow = 'auto';
        document.getElementsByTagName('body')[0].style.overflow = 'auto';
      });
    });
</script>



{% endblock dashboard %}