{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    
        <style type="text/tailwindcss">
            @theme {
            --color-clifford: #da373d;
            }
            html {
                background-image: url("{% static 'images/background.png' %}");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: 100vh;
            }
        </style>
    </head>

    <meta http-equiv="refresh" content="5;URL=https://basueducation.com">
  <body>
    <nav class="bg-gray-100">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
          <div class="relative flex h-16 items-center justify-between">
            <div class="flex flex-1 items-center sm:items-stretch sm:justify-start">

              <div class="flex shrink-0 items-center">
                <a href="https://basueducation.com" class="">
                    <img class="h-8 w-auto" src="https://basueducation.com/static/images/BASU%20LOGO.5e3cc85845b7.svg" alt="Your Company">
                </a>
              </div>

            </div>
          </div>
        </div>
    </nav>

    <div class="mx-auto max-w-7xl px-3 sm:px-6 lg:px-8 py-3 sm:py-6 lg:py-8">
        <div class="max-w-sm mx-auto">
            <h1 class="mb-4 text-2xl font-semibold leading-none tracking-tight text-gray-900">{{ headline }}</h1>
            <h2 class="mb-4 text-xl font-semibold leading-none tracking-tight text-gray-900">{{ message }}</h2>
        </div>        
    </div>


      
  </body>
</html>