{% extends 'base.html' %}
{% load static %}

{% block dashboard %}

<div id="searchStuModal" class="start-0 d-flex items-center justify-content-center">
  <div class="position-relative rounded-lg rounded my-2 w-auto bg-white shadow-md d-flex flex-column"
    style="height: fit-content; width: fit-content; max-width: 100%; z-index: 2355;">
    <div class="search-form ">
      <div class="d-flex justify-content-between align-items-center p-2">
        <form action="" method="get" class="">
          <select name="session" id="academic-session"
            class="form-select search-input fs-5 me-2 w-auto flex-grow-0 pe-5" onchange="this.form.submit()">
            {% for session in academic_sessions %}
            <option value="{{session.id}}" {% if session.id == selected_session.id %} selected {% endif %}>{{session.name}}</option>
            {% endfor %}
          </select>
        </form>
        <input type="text" class="form-control search-input p-2 fs-5 w-auto flex-grow-0" id="search-stu-input"
          maxlength="60" placeholder="Search students..." autocomplete="off" name="search"
          hx-get="/student/search-students?search={value}" hx-trigger="keyup changed delay:500ms, search"
          hx-target="#search-students-list">
        <div class=" p-2 border-dark border rounded m-2">
          <p class="m-0 ">{{count}}</p>
        </div>
        <button class="btn btn-primary" id="toggle-date">Date</button>
      </div>
      <ul class="position-absolute search-students p-2 mt-2 top-2 w-100 rounded" id="search-students-list">
      </ul>
    </div>
  </div>
</div>

<div class="container p-4 bg-warning-subtle">
  {% if class_students %}
  <div class="row shuffle bg-warning-subtle" data-masonry='{"percentPosition": true }' id="batches">
    {% for cls in class_students %}
    <div class="col-sm-6 col-md-4 col-lg-3 category shuffle-item shuffle-item--visible mb-4">
      <div class="card">
        <ul class="list-group">
          <li class="list-group-item bg-dark text-white list-group border-dark"> {{cls.class}} - (
            {{cls.students.count}} )</li>
          {% for enroll in cls.students %}
          <li style="position: relative;"
            class="list-group-item d-flex justify-content-between align-items-center {% if not enroll.student.active %} bg-secondary {% elif not enroll.student.fees.installments.first.paid %} bg-warning {% endif %}">
            <a class="text-decoration-none text-dark" style="display: flex; justify-content: space-between;"
              target="_blank" href="{% url 'student_enrollment_details_update' enroll.student.stu_id %}">
              <span class="">{{forloop.counter}}. {{enroll.student.user.first_name}} {{enroll.student.user.last_name}}</span>
            </a>
            <p class="mb-0 date">{{enroll.student.created_at|date:'d M'}}</p>
            {% if not enroll.student.batches.all %}
            <div
              style="position: absolute; background-color: red; border-radius: 50%; width: 8px; height: 8px; right: -6px; top: 50%;"
              class="indicator"></div>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>


<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
  integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async>
  </script>

<script>
  document.getElementById('toggle-date').addEventListener('click', function () {
    const listItems = document.querySelectorAll('.date');
    listItems.forEach(item => {
      if (item.style.display === 'none') {
        item.style.display = 'block';
      } else {
        item.style.display = 'none';
      }
    });
  });
</script>

{% endblock dashboard %}