{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/attendance.css' %}">
<style>
    html {
      scroll-behavior: auto !important;
    }
</style>
{% endblock style %}

{% block dashboard %}
<div class="content-container m-2">

    {% if classes and not cls %}
    <h2 class="heading m-2">Select Class</h2>
    <div class="row g-2">
        {% for c in classes %}
        <div class="col-6 col-md-3 flex justify-content-center align-items-center">
            <a href="{% url 'attendance_class' c.id %}" class="nav-link">
                <div class="cls bg-warning p-4 rounded min-h-100 min-w-100">{{c.name}}</div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    
    {% if cls %}
    <div class="row g-2">
        <div class="col-6 col-md-3 flex justify-content-center align-items-center">
            <a href="{% url 'attendance' %}" class="nav-link">
                <div class="cls bg-warning p-4 rounded min-h-100 min-w-100">{{cls.name}}</div>
            </a>
        </div>
    </div>
    {% endif %}

    {% if batches and cls and not batch %}
    <h2 class="heading m-2">Select Batch</h2>
    <div class="row g-2">
        {% for b in batches %}
        <div class="col-6 col-md-3 flex justify-content-center align-items-center">
            <a href="{% url 'attendance_batch' cls.id b.id %}" class="nav-link">
                <div class="cls bg-warning p-4 rounded min-h-100 min-w-100">{{b.section.name}} {{b.subject.name}}</div>
            </a>
        </div>
        {% endfor batches %}
    </div>
    {% endif %}

    {% if cls and batch %}
    <div class="row g-2 mt-1">
        <div class="col-6 col-md-3 flex justify-content-center align-items-center">
            <a href="{% url 'attendance_class' cls.id %}" class="nav-link">
                <div class="cls bg-warning p-4 rounded min-h-100 min-w-100">{{batch.section.name}} {{batch.subject.name}}</div>
            </a>
        </div>
    </div>
    {% endif %}
    
    {% if batch %}
    <h2 class="heading m-2">{{batch}}</h2>
    {% endif %}


    {% if cls and batch %}
    <h3 class="heading m-2">Mark Attendance</h3>
    <form action="" method="post">
        {% csrf_token %}
        
        <div class="students-list-container">
            <div class="col-md-3 my-2">
                <label for="date" class="form-label">Attendance Date</label>
                <div class="row mx-2">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="?date={{ date|date:'Y-m-d' }}&move=prev">Previous</a></li>
                        <li class="page-item"><p class="page-link text-dark text-nowrap">{{date|date:'Y-m-d'}}</p></li>
                        <li class="page-item"><a class="page-link" href="?date={{ date|date:'Y-m-d' }}&move=next">Next</a></li>
                    </ul>
                </div>
            </div>
            <ul class="students-list list-group">
                {% for student in un_marked_students %}
                <li class="student list-group-item bg-warning-subtle">
                    <!-- <p class="student-name">{{ student.user.first_name }} {{ student.user.last_name }}</p> -->
                    <div class="form-check form-switch" style="display: flex; flex-direction: row; justify-content: space-between; padding: 7px;">
                        <label class="form-check-label" for="student_{{forloop.counter}}">{{ student.user.first_name }} {{ student.user.last_name }}</label>
                        <input readonly class="form-check-input" style="transform: scale(1.3);" type="checkbox" name="attendance[]" role="switch" id="student_{{ student.stu_id }}" value="{{ student.stu_id }}:present">
                      </div>
                </li>
                {% endfor %}
                {% if un_marked_students %}
                <div class="wrapper my-2">
                    <button class="submit-btn">Save Attendance</button>
                </div>
                {% endif %}
                {% for atten in marked_attendance %}
                    {% if atten.is_present %}
                    <li class="student list-group-item bg-success-subtle p-0 px-2">
                        <!-- <p class="student-name">{{ student.user.first_name }} {{ student.user.last_name }}</p> -->
                        <div class="form-check form-switch" style="display: flex; flex-direction: row; justify-content: space-between; padding: 7px;">
                            <label class="form-check-label" for="student_{{forloop.counter}}">{{ atten.student.user.first_name }} {{ atten.student.user.last_name }}</label>
                            <div class="d-flex gap-2">
                                <a href="{% url 'mark_absent' cls.id batch.id atten.id %}?date={{ date|date:'Y-m-d' }}" class="delete-link d-flex justify-content-center align-items-center py-2 px-2 btn bg-danger btn-outline-light fw-semibold text-decoration-none">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </li>
                    {% else %}
                    <li class="student list-group-item bg-danger-subtle p-0 px-2">
                        <!-- <p class="student-name">{{ student.user.first_name }} {{ student.user.last_name }}</p> -->
                        <div class="form-check form-switch" style="display: flex; flex-direction: row; justify-content: space-between; padding: 7px;">
                            <label class="form-check-label" for="student_{{forloop.counter}}">{{ atten.student.user.first_name }} {{ atten.student.user.last_name }}</label>
                            
                            <div class="d-flex gap-2">
                                <a href="{% url 'mark_present' cls.id batch.id atten.id %}?date={{ date|date:'Y-m-d' }}" class="delete-link d-flex justify-content-center align-items-center py-2 px-2 btn bg-success btn-outline-light fw-semibold text-decoration-none">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
                                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                        <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>

        </div> 
    </form>
    {% endif %}
</div>  

{% endblock dashboard %}