{% extends 'base.html' %}
{% load static %}

{% block dashboard %}
<div class="container-sm p-4 ">
    <div class="bg-success-subtle mx-auto p-1 d-flex rounded" style="width: fit-content;">
        <a href="{% url 'student_update' student.stu_id %}" class="text-decoration-none text-dark bg-light p-1 px-2 rounded mx-2 my-1">Student</a>
        <a href="{% url 'student_parent_details' student.stu_id %}" class="text-decoration-none text-dark  p-1 px-2 rounded mx-2 my-1">Parent Details</a>
        <a href="{% url 'student_fees_details' student.stu_id %}" class="text-decoration-none text-dark  p-1 px-2 rounded mx-2 my-1">Fee Details</a>
        <a href="{% url 'student_transport_details' student.stu_id %}" class="text-decoration-none text-dark p-1 px-2 rounded mx-2 my-1">Transport Details</a>
    </div>

    <div class="my-4 mt-2">
        <h2 class="fw-normal text-dark">Student Details </h2>
    </div>

    <form class="g-3 bg-light rounded p-2 pb-3" method="post">
      {% csrf_token %}
      <div class="row justify-content-evenly mt-3">
        <div class="col-md-3">
          <label for="first_name" class="form-label">First name*</label>
          <input type="text" class="form-control" value="{{student.user.first_name}}" name="first_name" id="first_name" required>
        </div>
        <div class="col-md-3">
          <label for="last_name" class="form-label">Last name</label>
          <input type="text" class="form-control" {% if student.user.last_name %} value="{{student.user.last_name}}" {% endif %} name="last_name" id="last_name">
        </div>
    
        <div class="col-md-3">
          <label for="phone" class="form-label">Phone*</label>
          <input type="text" minlength="10" maxlength="10" {% if student.user.phone %} value="{{student.user.phone}}" {% endif %} class="form-control" name="phone" id="phone" required>
        </div>
      </div>
  
      <div class="row justify-content-evenly mt-3">
        <div class="col-md-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" {% if student.email %} value="{{student.email}}" {% endif %} class="form-control" name="email" id="email">
        </div>
    
        <div class="col-md-3">
          <label for="dob" class="form-label">Date of Birth*</label>
          <input type="date" class="form-control" value="{{student.dob|date:'Y-m-d'}}" name="dob" id="dob" required>
        </div>
    
        <div class="col-md-3">
          <label for="doj" class="form-label">Date of Joining*</label>
          <input type="date" class="form-control" value="{{student.doj|date:'Y-m-d'}}" name="doj" id="doj" required>
        </div>
      </div>
  
      <div class="row justify-content-evenly mt-3">
        <div class="col-md-3">
          <label for="school_name" class="form-label">School Name*</label>
          <input type="text" class="form-control" value="{{student.school_name}}" name="school_name" id="school_name" required>
        </div>
    
        <div class="col-md-3">
          <label for="class_enrolled" class="form-label">Class Enrolled*</label>
          <select class="form-select" name="class_enrolled"  id="class_enrolled">
            {% for cls in classes %}
            <option value="{{cls.id}}" {% if student.class_enrolled == cls %} selected {% endif %}>{{cls.name}}</option>
            {% endfor %}
          </select>
        </div>
        
        <div class="col-md-3">
          <label for="subjects" class="form-label">Subjects</label>
          <select class="form-control" name="subjects" id="subjects" multiple>
            {% for subject in subjects %}
            <option value="{{ subject.id }}" 
              {% if subject in student.subjects.all %} selected {% endif %}>
              {{ subject.name }}
            </option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="row justify-content-evenly mt-3">
        <div class="col-md-3">
          <label for="marksheet_submitted" class="form-label">Marksheet Submitted</label>
          <select class="form-select" name="marksheet_submitted" id="marksheet_submitted">
            <option value="no" {% if student.marksheet_submitted == False %} selected {% endif %} >No</option>
            <option value="yes" {% if student.marksheet_submitted == True %} selected {% endif %} >Yes</option>
          </select>
        </div>
    
        <div class="col-md-3">
          <label for="sat_score" class="form-label">SAT Score</label>
          <input type="number"  {% if student.sat_score %} value="{{student.sat_score}}" {% endif %} class="form-control" name="sat_score" id="sat_score">
        </div>
    
        <div class="col-md-3">
          <label for="remarks" class="form-label">Remarks</label>
          <textarea class="form-control" name="remarks" id="remarks">{% if student.remarks %} {{student.remarks}} {% endif %}</textarea>
        </div>
      </div>

      <div class="row justify-content-evenly mt-3">
        <div class="col-md-3">
          <label for="address" class="form-label">Address</label>
          <textarea class="form-control" name="address" id="address">{% if student.address %} {{student.address}} {% endif %}</textarea>
        </div>
    
        <div class="col-md-3">
          <label for="last_year_marks_details" class="form-label">Last Year Marks Details</label>
          <input type="text" class="form-control" {% if student.last_year_marks_details %} value="{{student.last_year_marks_details}}" {% endif %} name="last_year_marks_details" id="last_year_marks_details">
        </div>
    
        <div class="col-md-3">
          <label for="aadhar_card_number" class="form-label">Aadhar Card Number</label>
          <input type="text" class="form-control" {% if student.aadhar_card_number %} value="{{student.aadhar_card_number}}" {% endif %} name="aadhar_card_number" id="aadhar_card_number">
        </div>
      </div>
  
      <div class="row justify-content-evenly mt-3">
        <div class="col-md-3">
          <label for="gender" class="form-label">Gender</label>
          <select class="form-select" name="gender" id="gender">
            <option value="Male" {% if student.gender == 'Male' %} selected {% endif %} >Male</option>
            <option value="Female" {% if student.gender == 'Female' %} selected {% endif %} >Female</option>
            <option value="Other" {% if student.gender == 'Other' %} selected {% endif %} >Other</option>
          </select>
        </div>

        <div class="col-md-3 mt-4">
          <button class="btn btn-warning" type="submit">Update Student</button>
        </div>
        <div class="col-md-3"></div>

      </div>
    </form>
</div>
</div>


<script>
  const input = document.getElementById('phone');
  const aadhar = document.getElementById('aadhar_card_number');

  input.addEventListener("input", function () {
      this.value = this.value.replace(/\D/g, "").slice(0, 10); // Remove non-digits and limit to 10
  });
  aadhar.addEventListener("input", function () {
      this.value = this.value.replace(/\D/g, "").slice(0, 12); // Remove non-digits and limit to 10
  });
</script>

{% endblock dashboard %}