{% extends 'base.html' %}
{% load static %}

{% block dashboard %}
<div class="container-sm p-4 ">
    <div class="bg-success-subtle mx-auto p-1 d-flex rounded" style="width: fit-content;">
      <a href="{% url 'student_update' student.stu_id %}" class="text-decoration-none text-dark p-1 px-2 rounded mx-2 my-1">Student</a>
      <a href="{% url 'student_parent_details' student.stu_id %}" class="text-decoration-none text-dark  p-1 px-2 rounded mx-2 my-1">Parent Details</a>
      <a href="{% url 'student_fees_details' student.stu_id %}" class="text-decoration-none text-dark  p-1 px-2 rounded mx-2 my-1">Fee Details</a>
      <a href="{% url 'student_transport_details' student.stu_id %}" class="text-decoration-none text-dark bg-light p-1 px-2 rounded mx-2 my-1">Transport Details</a>
    </div>

    <div class="my-4 mt-2">
        <h2 class="fw-normal text-dark"> Register Student </h2>
    </div>

    <form class="row g-3 bg-light rounded p-2 pb-3" method="post">
        {% csrf_token %}
        <div class="col-md-4">
          <label for="first_name" class="form-label">First name*</label>
          <input {% if form.first_name.value %} value="{{form.first_name.value}}" {% endif %}  type="text" class="form-control" name="first_name" id="first_name" required>
        </div>
        <div class="col-md-4">
          <label for="last_name" class="form-label">Last name</label>
          <input {% if form.last_name.value %} value="{{form.last_name.value}}" {% endif %} type="text" class="form-control" name="last_name" id="last_name">
        </div>
    
        <div class="col-md-3">
          <label for="phone" class="form-label">Phone*</label>
          <input type="text" {% if form.phone.value %} value="{{form.phone.value}}" {% endif %} minlength="10" maxlength="10" class="form-control {% if form.errors.phone %} btn-outline-danger {% endif %} " name="phone" id="phone" required>
          {% if form.errors.phone %}
            <div class="text-danger">
                {{ form.errors.phone|join:", " }}
            </div>
          {% endif %}
        </div>
    
        <div class="col-md-4">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="email">
        </div>
    
        <div class="col-md-4">
          <label for="dob" class="form-label">Date of Birth*</label>
          <input type="date" class="form-control" name="dob" id="dob" required>
        </div>
    
        <div class="col-md-4">
          <label for="doj" class="form-label">Date of Joining*</label>
          <input type="date" class="form-control" name="doj" id="doj" required>
        </div>
    
        <div class="col-md-4">
          <label for="school_name" class="form-label">School Name*</label>
          <input type="text" class="form-control" name="school_name" id="school_name" required>
        </div>
    
        <div class="col-md-4">
          <label for="class_enrolled" class="form-label">Class Enrolled*</label>
          <input type="text" class="form-control" name="class_enrolled" id="class_enrolled" required>
        </div>
    
        <div class="col-md-4">
          <label for="subjects" class="form-label">Subjects</label>
          <input type="text" class="form-control" name="subjects" id="subjects">
        </div>
    
        <div class="col-md-4">
          <label for="marksheet_submitted" class="form-label">Marksheet Submitted</label>
          <select class="form-select" name="marksheet_submitted" id="marksheet_submitted">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>
    
        <div class="col-md-4">
          <label for="sat_score" class="form-label">SAT Score</label>
          <input type="number" class="form-control" name="sat_score" id="sat_score">
        </div>
    
        <div class="col-md-4">
          <label for="remarks" class="form-label">Remarks</label>
          <textarea class="form-control" name="remarks" id="remarks"></textarea>
        </div>
    
        <div class="col-md-4">
          <label for="address" class="form-label">Address</label>
          <textarea class="form-control" name="address" id="address"></textarea>
        </div>
    
        <div class="col-md-4">
          <label for="last_year_marks_details" class="form-label">Last Year Marks Details</label>
          <input type="text" class="form-control" name="last_year_marks_details" id="last_year_marks_details">
        </div>
    
        <div class="col-md-4">
          <label for="aadhar_card_number" class="form-label">Aadhar Card Number</label>
          <input type="text" class="form-control" name="aadhar_card_number" id="aadhar_card_number">
        </div>
    
        <div class="col-md-4">
          <label for="gender" class="form-label">Gender</label>
          <select class="form-select" name="gender" id="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>
        </div>
    
        <div class="col-md-4">
          <label for="batches" class="form-label">Batches*</label>
          <select class="form-select" name="batches" id="batches" multiple size="{{batches.count}}" required>
            {% for batch in batches %}
            <option value="{{batch.id}}">{{batch}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-4 mt-5">
          <button class="btn btn-primary" type="submit">Create Student</button>
        </div>
      </form>
</div>
</div>

{% endblock dashboard %}